/* .container{
  display:grid;
  place-items: center;
  margin: 50px auto;
}
.buttonContainer{
  display: flex;
  justify-content: space-between;
  width: 800px;
  gap: 10px;
  padding: 10px;
  margin: 10px;
} */

.mobile-stepper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  content: "•";
  font-family: slick;
  font-size: 6px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: .25;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}


@media (max-width: 460px) {
  .buttonContainer{
    flex-direction: column;
    min-width: 200px;
  }
}