@import "../../helpers/variables.css";

.NavBar {
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: var(--medicGreen);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.navButtonsContainer{
  display: flex;
  padding: 6px;
  gap: 40px;
}

.navActive{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--medicGreenDark);
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.title,
.navInactive{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.header-logo > h1 {
  font-size: 32px ;
}

@media (max-width: 600px) {
  .NavBar{
    justify-content: space-between;
  }
  .navActive {
    display: none;
  }
  .navInactive{
    display: none;
  }
}