.divBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.divCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    height: auto;
    padding: 10px;
  }

  