.divBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    
}


.divCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    height: auto;
    padding: 10px;
   
    
  }

  